# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/windows/.gitignore
/windows/runner/resources/app_icon.ico
/lib/cloc-1.94.exe
/windows/flutter/CMakeLists.txt
/windows/runner/CMakeLists.txt
/windows/CMakeLists.txt
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
/windows/runner/main.cpp
/windows/runner/resource.h
/windows/runner/runner.exe.manifest
/windows/runner/Runner.rc
/windows/runner/utils.cpp
/windows/runner/utils.h
/windows/runner/win32_window.cpp
/windows/runner/win32_window.h
